@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;1,100;1,200&family=Roboto+Mono:wght@100;200;300&display=swap");
.flex {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.budget-calculator-h1 {
  margin: 10vh 0px 5vh 0px !important;
  margin: 0px;
  font-size: 50px;
  color: #ffffff;
  font-weight: 800;
}
.card {
  width: 60%;
  height: fit-content;
  background-color: white;
  overflow: hidden;
  display: flex;
  padding: 1vw;
  flex-direction: column;
  border-radius: 10px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 30px 0px;
}
.budget-calc-input {
  width: 30%;
  height: 40px;
  padding: 5px;
  border: rgb(132, 132, 132) solid 1px;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0px 10px 0px 20px;
  color: black;

}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 5vh;
  margin: 2vh 0px ;
}
.name{
  flex: 2;
}
.add-exp-button {
  width: fit-content;
  height: 40px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.budget {
  margin: 0px auto 0px auto;
}
.budget-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h3 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: black solid 1px;
  color: black;
}
.cost{
  flex: 1;
}
.cost-name{
  flex: 2;
}
.output-component-container {
  width: 60vw;
  margin: 20px 0px 20px 0px;
}
.output-component {
  width: inherit;
  height: fit-content;
  size: inherit;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: #fff 0.5px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.output-display {
  color: black;
  width: 60%;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 100, "opsz" 90;
  color: red;
  margin-right: 30px;
  cursor: pointer;
}
.budget-input-container h3{
  color: black;
}

button:active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
